.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: getColor("bgSecondary");
}

.container__footer {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.footer__adres {
  @media screen and (max-width: 767px) {
    text-align: center;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    flex-grow: 1;
  }
}

.adress {
  font-style: normal;
}

.adress__item {
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 0;
  }
}

.adress__link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;

  line-height: 1.171;
  letter-spacing: 0.03em;
  color: getColor("bgBasic");
}

.adress__link--transparent {
  color: getColor("bgBasicTransparent");
}

.footer-social {
  @media screen and (max-width: 767px) {
    text-align: center;
  }

  @media screen and(min-width: 1200px) {
    margin-right: 93px;
  }
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 20px;

  line-height: 1.14;
  text-transform: uppercase;
  color: getColor("bgBasic");

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.connection {
  position: relative;
  margin-left: auto;
  text-align: center;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-left: 159px;
    padding-right: 159px;
  }
}

.connection__input {
  width: 100%;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: getColor("bgBasic");
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  @media screen and (min-width: 768px) {
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.connection__btn {
  padding: 10px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: getColor("bgBasic");
  background: getColor("active");

  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.connection__icon {
  margin-left: 10px;
  fill: getColor("bgBasic");
}

.footer__modal {
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}
