.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  // margin: 0 auto;
  max-width: 100%;
  height: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../../images/Hero_480.jpg);

    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../../images/Hero_480@2x.jpg);
}

@media (min-device-pixel-ratio: 3),
(min-resolution: 288dpi),
(min-resolution: 3dppx) {
  background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  ),
  url(../../images/Hero_480@3x.jpg);
}

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

 
@media screen and (min-width: 768px) {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../../images/Hero_768.jpg);

    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../../images/Hero_768@2x.jpg);
}

@media (min-device-pixel-ratio: 3),
(min-resolution: 288dpi),
(min-resolution: 3dppx) {
  background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  ),
  url(../../images/Hero_768@3x.jpg);
}

  
}
@media screen and (min-width: 1200px) {
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  ),
  url(../../images/Hero_1600.jpg);

  @media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  ),
  url(../../images/Hero_1600@2x.jpg);
}

@media (min-device-pixel-ratio: 3),
(min-resolution: 288dpi),
(min-resolution: 3dppx) {
background-image: linear-gradient(
  to right,
  rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)
),
url(../../images/Hero_1600@3x.jpg);
}

  
}

}

.hero__title {
  margin-bottom: 30px;

  color: getColor("bgBasic");
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 900;

  letter-spacing: 0.06em;
  line-height: 1.62;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
    
  }


}

.hero__button {
  cursor: pointer;
  background-color: getColor("active");
  color: getColor("bgBasic");
  height: 50px;
  width: 200px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.87;
  font-weight: 700;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color getAnime("anime") getCube("Cube");

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
