.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.ourWork {
  margin: -15px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    
  flex-basis: calc((100% - 60px) / 2);
  }
  
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  flex-basis: calc((100% - 90px) / 4);
  }
}

.ourWork__list {
 
  
  margin: 15px;
  @media screen and (min-width: 768px) {
 
  }

  &:last-child {
    margin-right: 0;
  }
  @media screen and (min-width: 768px) {
    // display: flex;
    // flex-wrap: wrap;
    
  flex-basis: calc((100% - 60px) / 2);
  }
}

.ourWork__box {
  // display: flex;
  // height: 120px;
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  background-color: getColor("buttonBasic");
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  display: flex;
  

}

.ourWork__title {
  margin-bottom: 10px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: getColor("secondaryText");
  font-size: 14px;
  @media screen and (max-width: 767px) {
    text-align: center;
    
  }
}
